[MASTER]
load-plugins=pylint_django

[MESSAGES CONTROL]
# Errors only.
enable=E
# FIXME: Once pylint-django is updated to cope with Django 1.7, remove
# no-value-for-parameter and unexpected-keyword-arg from this list.
disable=W,C,R,I,maybe-no-member,no-value-for-parameter,unexpected-keyword-arg

[REPORTS]
# Don't display the complete report.
reports=no

[TYPECHECK]
# Stop harassing us about rich enums.
generated-members=index,canonical_name
