<head>
	<title>Add a score sheet for {{ season.name }}</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script>
		$(function() {
    	$( "#datepicker" ).datepicker();
		});
	</script>
</head>

<body>

<h1>{{ season.name }}: add a score sheet </h1> 
<a href="{% url 'index' %}">anrlm</a>  >
<a href="{% url 'league' league.id %}">{{ league.name }}</a>  >
<a href="{% url 'season' season.id %}">{{ season.name }}</a>  > 
add a scoresheet

<hr>
{{ comment }}

<hr>
<form method="post" action="{% url 'add_scoresheet' season.id %}">
	{% csrf_token %}
	<table border="1" cellpadding="15">
		<tr>
			<td colspan="2">
				Date: <input name="gamedate" type="date" id="datepicker" /> (mm/dd/yyyy)
			</td>
		</tr>
		<tr style="background-color:#E0E0E0">
			<td>
				Player 1<br>
				<select id="player1" name="player1">
					{% for p in players %}
						<option value="{{ p.id }}"> {{ p }} </option>
					{% endfor %}
				</select>
			</td>
			<td>
				Player 2<br>
				<select id="player2" name="player2">
					{% for p in players %}
						<option value="{{ p.id }}"> {{ p }} </option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td>
				Food or beverage?<br>
				<input id="player_1_food_true" type="radio" name="player_1_food" value="True" />
				<label for="player_1_food_true">Yes</label>
				&nbsp;&nbsp;
				<input id="player_1_food_false" type="radio" name="player_1_food" value="False" checked="checked" />
				<label for="player_1_food_false">No</label>
			</td>
			<td>
				Food or beverage?<br>
				<input id="player_2_food_true" type="radio" name="player_2_food" value="True" />
				<label for="player_2_food_true">Yes</label>
				&nbsp;&nbsp;
				<input id="player_2_food_false" type="radio" name="player_2_food" value="False" checked="checked" />
				<label for="player_2_food_false">No</label>
			</td>
		</tr>
		<tr style="background-color:#E0E0E0">
			<td>
				Game 1 I.D.<br>
				<select id="player1game1id" name="player1game1id">
					<option value="0"> none </option>
					<optgroup label="Corp ID's">
						{% for id in corp_IDs %}
							<option value="{{ id }}"> {{ id }} </option>
						{% endfor %}
					</optgroup>
					<optgroup label="Runner ID's">
						{% for id in runner_IDs %}
							<option value="{{ id }}"> {{ id }} </option>
						{% endfor %}
					</optgroup>
				</select>
			</td>
			<td>
				Game 1 I.D.<br>
				<select id="player2game1id" name="player2game1id">
					<option value="0"> none </option>
					<optgroup label="Corp ID's">
						{% for id in corp_IDs %}
							<option value="{{ id }}"> {{ id }} </option>
						{% endfor %}
					</optgroup>
					<optgroup label="Runner ID's">
						{% for id in runner_IDs %}
							<option value="{{ id }}"> {{ id }} </option>
						{% endfor %}
					</optgroup>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				Game 1 outcome:
				<input id="g1notplayed" type="radio" name="game1outcome" value="notplayed" checked="checked"/>
				<label for="g1notplayed">not played</label>
				<br>
				<input id="p1g1av" type="radio" name="game1outcome" value="player1agendavictory" />
				<label for="p1g1av">Player 1 Agenda Victory</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input id="g1draw" type="radio" name="game1outcome" value="draw" />
				<label for="g1draw">Draw</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input id="g1flatline" type="radio" name="game1outcome" value="flatline" />
				<label for="g1flatline">Flatline</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input id="g1mill" type="radio" name="game1outcome" value="mill" />
				<label for="g1mill">Corp Decked</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input id="p2g1av" type="radio" name="game1outcome" value="player2agendavictory" />
				<label for="p2g1av">Player 2 Agenda Victory</label>
			</td>
		</tr>
		<tr style="background-color:#E0E0E0">
			<td>
				Game 2 I.D.<br>
				<select id="player1game2id" name="player1game2id">
					<option value="0"> none </option>
					<optgroup label="Corp ID's">
						{% for id in corp_IDs %}
							<option value="{{ id }}"> {{ id }} </option>
						{% endfor %}
					</optgroup>
					<optgroup label="Runner ID's">
						{% for id in runner_IDs %}
							<option value="{{ id }}"> {{ id }} </option>
						{% endfor %}
					</optgroup>
				</select>
			</td>
			<td>
				Game 2 I.D.<br>
				<select id="player2game2id" name="player2game2id">
					<option value="0"> none </option>
					<optgroup label="Corp ID's">
						{% for id in corp_IDs %}
							<option value="{{ id }}"> {{ id }} </option>
						{% endfor %}
					</optgroup>
					<optgroup label="Runner ID's">
						{% for id in runner_IDs %}
							<option value="{{ id }}"> {{ id }} </option>
						{% endfor %}
					</optgroup>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2">				
				Game 2 outcome:
				<input id="g2notplayed" type="radio" name="game2outcome" value="notplayed" checked="checked"/>
				<label for="g2notplayed">not played</label>
				<br>
				<input id="p1g2av" type="radio" name="game2outcome" value="player1agendavictory" />
				<label for="p1g2av">Player 1 Agenda Victory</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input id="g2draw" type="radio" name="game2outcome" value="draw" />
				<label for="g2draw">Draw</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input id="g2flatline" type="radio" name="game2outcome" value="flatline" />
				<label for="g2flatline">Flatline</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input id="g2mill" type="radio" name="game2outcome" value="mill" />
				<label for="g2mill">Corp Decked</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input id="p2g2av" type="radio" name="game2outcome" value="player2agendavictory" />
				<label for="p2g2av">Player 2 Agenda Victory</label>
			</td>
		</tr>
		<tr style="background-color:#E0E0E0">
			<td>
				Game 3 I.D.<br>
				<select id="player1game3id" name="player1game3id">
					<option value="0"> none </option>
					<optgroup label="Corp ID's">
						{% for id in corp_IDs %}
							<option value="{{ id }}"> {{ id }} </option>
						{% endfor %}
					</optgroup>
					<optgroup label="Runner ID's">
						{% for id in runner_IDs %}
							<option value="{{ id }}"> {{ id }} </option>
						{% endfor %}
					</optgroup>
				</select>
			</td>
			<td>
				Game 3 I.D.<br>
				<select id="player2game3id" name="player2game3id">
					<option value="0"> none </option>
					<optgroup label="Corp ID's">
						{% for id in corp_IDs %}
							<option value="{{ id }}"> {{ id }} </option>
						{% endfor %}
					</optgroup>
					<optgroup label="Runner ID's">
						{% for id in runner_IDs %}
							<option value="{{ id }}"> {{ id }} </option>
						{% endfor %}
					</optgroup>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				Game 3 outcome: 
				<input id="g3notplayed" type="radio" name="game3outcome" value="notplayed" checked="checked"/>
				<label for="g3notplayed">not played</label>
				<br>
				<input id="p1g3av" type="radio" name="game3outcome" value="player1agendavictory" />
				<label for="p1g3av">Player 1 Agenda Victory</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input id="g3draw" type="radio" name="game3outcome" value="draw" />
				<label for="g3draw">Draw</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input id="g3flatline" type="radio" name="game3outcome" value="flatline" />
				<label for="g3flatline">Flatline</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input id="g3mill" type="radio" name="game3outcome" value="mill" />
				<label for="g3mill">Corp Decked</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input id="p2g3av" type="radio" name="game3outcome" value="player2agendavictory" />
				<label for="p2g3av">Player 2 Agenda Victory</label>
			</td>
		</tr>
		<tr style="background-color:#E0E0E0">
			<td>
				Game 4 I.D.<br>
				<select id="player1game4id" name="player1game4id">
					<option value="0"> none </option>
					<optgroup label="Corp ID's">
						{% for id in corp_IDs %}
							<option value="{{ id }}"> {{ id }} </option>
						{% endfor %}
					</optgroup>
					<optgroup label="Runner ID's">
						{% for id in runner_IDs %}
							<option value="{{ id }}"> {{ id }} </option>
						{% endfor %}
					</optgroup>
				</select>
			</td>
			<td>
				Game 3 I.D.<br>
				<select id="player2game4id" name="player2game4id">
					<option value="0"> none </option>
					<optgroup label="Corp ID's">
						{% for id in corp_IDs %}
							<option value="{{ id }}"> {{ id }} </option>
						{% endfor %}
					</optgroup>
					<optgroup label="Runner ID's">
						{% for id in runner_IDs %}
							<option value="{{ id }}"> {{ id }} </option>
						{% endfor %}
					</optgroup>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				Game 4 outcome: 
				<input id="g4notplayed" type="radio" name="game4outcome" value="notplayed" checked="checked"/>
				<label for="g4notplayed">not played</label>
				<br>
				<input id="p1g4av" type="radio" name="game4outcome" value="player1agendavictory" />
				<label for="p1g4av">Player 1 Agenda Victory</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input id="g4draw" type="radio" name="game4outcome" value="draw" />
				<label for="g4draw">Draw</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input id="g4flatline" type="radio" name="game4outcome" value="flatline" />
				<label for="g4flatline">Flatline</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input id="g4mill" type="radio" name="game4outcome" value="mill" />
				<label for="g4mill">Corp Decked</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input id="p2g4av" type="radio" name="game4outcome" value="player2agendavictory" />
				<label for="p2g4av">Player 2 Agenda Victory</label>
			</td>
		</tr>
	</table>
	<br>
	<input type="submit" value="add score sheet" />
</form>

<hr>

</body>