<a href="{% url 'index' %}">Back to the League Manager index</a><br><br>

{{ other }}<br>
It's time to add a player!
<hr>

<form method="post" action="{% url 'add_player' %}">
	{% csrf_token %}
	Name (handle): <input name="name" type="text" size="20" maxlength="128" /><br><br>
	First Name: <input name="first" type="text" size="20" maxlength="128" /><br>
	Last Name: <input name="last" type="text" size="20" maxlength="128" /><br><br>
	Email Address: <input name="email" type="text" size="20" maxlength="128" /><br><br>
	Favorite Faction: <br>
		<input id="neutral" type="radio" name="favorite" value="neutral" />
		<label for="neutral" style="color: gray">Neutral</label> &nbsp;
		<input id="anarch" type="radio" name="favorite" value="anarch" />
		<label for="anarch" style="color: orange">Anarch</label> &nbsp;
		<input id="criminal" type="radio" name="favorite" value="criminal" />
		<label for="criminal" style="color: blue">Criminal</label> &nbsp;
		<input id="shaper" type="radio" name="favorite" value="shaper" />
		<label for="shaper" style="color: green">Shaper</label><br>
		<input id="hass-bioroid" type="radio" name="favorite" value="hass-bioroid" />
		<label for="hass-bioroid" style="color: purple">Hass-Bioroid</label> &nbsp;
		<input id="jinteki" type="radio" name="favorite" value="jinteki" />
		<label for="jinteki" style="color: red">Jinteki</label> &nbsp;
		<input id="nbn" type="radio" name="favorite" value="nbn" />
		<label for="nbn" style="color: yellow">NBN</label> &nbsp;
		<input id="weyland" type="radio" name="favorite" value="weyland" />
		<label for="weyland" style="color: black">Weyland</label>
	<br><br>
	<input type="submit" value="Add player" />
</form>
<hr>


{% if player_list %}
	Here are the current players:
	<ul>
		{% for player in player_list %}
			<li> {{ player }}, whose favorite faction is: {{ player.favorite_faction }}.
		{% endfor %}
	</ul>
{% else %}
	<p>There are no players!</p>
{% endif %}

<!--
{% if league_list %}
	Here are the current leagues:
	<ul>
		{% for league in league_list %}
			<li> {{ league }}, whose organizer is: {{ league.organizer }}.
		{% endfor %}
	</ul>
{% else %}
	<p>There are no leagues!</p>
{% endif %} -->


