
{% extends "base.html" %}

{% block title %}
	anrlm: {{ league.name }}: add a member
{% endblock %}

{% block content %}

<h1> {{ league.name }}: add a member </h1> 
<a href="{% url 'index' %}">anrlm</a>
> <a href="{% url 'league' league.id %}"> {{ league.name }} </a>
> add a member

<hr>
{{ comment }}

<hr>
<form method="post" action="{% url 'add_member' league.id %}">
	{% csrf_token %}
	Add new member:
	<select id="player_dropdown" name="player_to_add">
		<option value="0"> pick player to add </option>
		{% for player in all_players %}
			<option value="{{ player.name }}"> {{ player.name }} </option>
		{% endfor %}
	</select> 
	<input type="submit" value="Submit" />
</form>

<hr>
{% if members %}
	Current members:
	<ul>
		{% for player in members %}
			<li> {{ player }}, whose favorite faction is: {{ player.favorite_faction }}. </li>
		{% endfor %}
	</ul>
{% else %}
	<p>There are no members!</p>
{% endif %}

<hr>

{% endblock %}


