{% extends "base.html" %}


{% block title %}
	anrlm: edit game {{ game.id }}
{% endblock %}




{% block head %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<script>
		$(function() {
    	$( "#datepicker" ).datepicker();
		});
	</script>
{% endblock %}




{% block content %}

<h1>game {{ game.id }}: edit game </h1> 
<a href="{% url 'index' %}">anrlm</a>  >
<a href="{% url 'league' league.id %}">{{ league.name }}</a>  >
<a href="{% url 'season' season.id %}">{{ season.name }}</a>  > 
edit game

<hr>
Game date: {{ game.date }}<br><br>
League: {{ league }}<br>
Season: {{ season }}
&nbsp;&nbsp;&nbsp;&nbsp;
>>>
&nbsp;&nbsp;&nbsp;&nbsp;
{{ season.begin_date }} until {{ season.end_date }}<br><br>
Corp&nbsp;&nbsp;&nbsp;&nbsp; >>> &nbsp;&nbsp;&nbsp;&nbsp;
{{ game.corp_player }}&nbsp;&nbsp;&nbsp;&nbsp; >>> &nbsp;&nbsp;&nbsp;&nbsp;
{{ game.corp_ID }}<br>
Runner&nbsp;&nbsp;&nbsp;&nbsp; >>> &nbsp;&nbsp;&nbsp;&nbsp;
{{ game.runner_player }}&nbsp;&nbsp;&nbsp;&nbsp; >>> &nbsp;&nbsp;&nbsp;&nbsp;
{{ game.runner_ID }}<br><br>
Outcome: {{ game.outcome }}

<hr>
<form method="post" action="{% url 'edit_game' game.id %}">
	{% csrf_token %}
	Date: <input name="gamedate" type="date" id="datepicker" value="{{ formatteddate }}" /> (mm/dd/yyyy)
	<br><br>

	Corp player:
	<select id='corpplayer' name='corpplayer'>
		<optgroup label="Current player">
			<option value="{{ game.corp_player.id }}">{{ game.corp_player }}</option>
		</optgroup>
		<optgroup label="Other members">
			{% for member in members %}
				<option value="{{ member.id }}"> {{ member }} </option>
			{% endfor %}
		</optgroup>
	</select>
	<select id='corpid' name='corpid'>
		<optgroup label="Current ID">
			<option value="{{ game.corp_ID }}"> {{ game.corp_ID }} </option>
		</optgroup>
		<optgroup label="Other Corp IDs">
			{% for id in corp_IDs %}
				<option value="{{ id }}"> {{ id }} </option>
			{% endfor %}
		</optgroup>
	</select>
	<br>
	Runner player:
	<select id='runnerplayer' name='runnerplayer'>
		<optgroup label="Current player">
			<option value="{{ game.runner_player.id }}">{{ game.runner_player }}</option>
		</optgroup>
		<optgroup label="Other members">
			{% for member in members %}
				<option value="{{ member.id }}"> {{ member }} </option>
			{% endfor %}
		</optgroup>
	</select>
	<select id='runnerid' name='runnerid'>
		<optgroup label="Current ID">
			<option value="{{ game.runner_ID }}"> {{ game.runner_ID }} </option>
		</optgroup>
		<optgroup label="Other Runner IDs">
			{% for id in runner_IDs %}
				<option value="{{ id }}"> {{ id }} </option>
			{% endfor %}
		</optgroup>
	</select>
	<br><br>
	Game outcome:
	<select id='gameoutcome' name='gameoutcome'>
		<optgroup label='Current outcome'>
			<option value="{{ game.outcome }}">{{ game.outcome }}</option>
		</optgroup>
		<optgroup label='Other outcomes'>
			{% for o in outcomelist %}
				<option value="{{ o }}">{{ o }}</option>
			{% endfor %}
		</optgroup>
	</select>
	<br>
	<input type="hidden" name="action" value="update">
	<hr>
	<input type="submit" value="update game" />
</form>
<hr>
<form method="post" action="{% url 'edit_game' game.id %}">
	{% csrf_token %}
	<input type="hidden" name="action" value="delete">
	If deleted, the game must be re-entered via a score sheet. Be careful.  <input type="submit" value="delete game" />
</form>

<hr>
{{ comment }}

{% endblock %}