<h1> android netrunner league manager </h1> 
<a href="{% url 'index' %}">anrlm</a>

<hr>
{% if league_list %}
	Current leagues:
	<ul>
		{% for league in league_list %}
			<li> <a href="{% url 'league' league.id %}">{{ league }}</a>, whose organizer is: {{ league.organizer }}.
		{% endfor %}
	</ul>
{% else %}
	<p>There are no leagues!</p>
{% endif %}
Add a league  

<hr>
{% if player_list %}
	Current players:
	<ul>
		{% for player in player_list %}
			<li> {{ player }}, whose favorite faction is: {{ player.favorite_faction }}.
		{% endfor %}
	</ul>
{% else %}
	<p>There are no players!</p>
{% endif %}
<a href="{% url 'add_player' %}">Add a player</a>

<hr>
<a href="https://github.com/bdyn/anrlm">github repo</a>