{% extends "base.html" %}

{% block title %}
	android: netrunner league manager
{% endblock %}


{% block content %}

<h1> android: netrunner league manager </h1> 
<a href="{% url 'index' %}">anrlm</a>

<hr>
{% if league_list %}
	<b>Current leagues:</b>
	<br>
	{% for league in league_list %}
		&nbsp;&nbsp; <a href="{% url 'league' league.id %}">{{ league }}</a> 
		&nbsp;&nbsp;&nbsp;&nbsp;
		>>>
		&nbsp;&nbsp;&nbsp;&nbsp;
		orgainizer: {{ league.organizer }}
		<br>
	{% endfor %}
{% else %}
	<p>There are no leagues!</p>
{% endif %}
<br>
add a league  

<hr>
{% if player_list %}
	<b>Current players:</b>
	<br>
	{% for player in player_list %}
		&nbsp;&nbsp;  {{ player }}<br>
	{% endfor %}
{% else %}
	<p>There are no players!</p>
{% endif %}
<br>
<a href="{% url 'add_player' %}">add a player</a>

<hr>
<a href="https://github.com/bdyn/anrlm">github repo</a>

{% endblock %}