<a href="{% url 'add_player' %}">Add a player</a>
<br>
<br>

{% if league_list %}
	Here are the current leagues:
	<ul>
		{% for league in league_list %}
			<li> <a href="{% url 'league' league.id %}">{{ league }}</a>, whose organizer is: {{ league.organizer }}.
		{% endfor %}
	</ul>
{% else %}
	<p>There are no leagues!</p>
{% endif %}

{% if player_list %}
	Here are the current players:
	<ul>
		{% for player in player_list %}
			<li> {{ player }}, whose favorite faction is: {{ player.favorite_faction }}.
		{% endfor %}
	</ul>
{% else %}
	<p>There are no players!</p>
{% endif %}
