
{% extends "base.html" %}

{% block title %}
	anrlm: {{ league.name }}
{% endblock %}


{% block content %}

<h1> anrlm: {{ league.name }} </h1> 
<a href="{% url 'index' %}">anrlm</a> 
> {{ league.name }}

<hr>
{% if seasons %}
	<b>Recent Seasons:</b>
	<br>
	{% for season in seasons %}
		&nbsp;&nbsp;
		<a href="{% url 'season' season.id %}"> {{ season }} </a>  
		&nbsp;&nbsp;&nbsp; >>> &nbsp;&nbsp;&nbsp; 
		{{ season.begin_date }} until {{ season.end_date }}
		<br>
	{% endfor %}
{% else %}
	<p>There are no seasons!</p>
{% endif %}
<br>
<a href="{% url 'add_season' league.id %}">add a new season</a>

<hr>
League organizer: {{ league.organizer }}
<br>
<br>
{% if members %}
	<b>Current members:</b>
	<br>
	{% for player in members %}
		&nbsp;&nbsp; <a href="{% url 'player' player.id %}">{{ player }}</a>
		<br>
	{% endfor %}
{% else %}
	<p>There are no members!</p>
{% endif %}
<br>
<a href="{% url 'add_member' league.id %}">add new member</a>

<hr>

{% endblock %}