
<h1> anrlm: {{ league.name }} </h1> 
<a href="{% url 'index' %}">anrlm</a> 
> {{ league.name }}

<hr>
{% if seasons %}
	Recent Seasons:
	<ul>
		{% for season in seasons %}
			<li> <a href="{% url 'season' season.id %}"> {{ season }} </a>  &nbsp;&nbsp;&nbsp; >>> &nbsp;&nbsp;&nbsp; {{ season.begin_date }} until {{ season.end_date }} </li>
		{% endfor %}
	</ul>
{% else %}
	<p>There are no members!</p>
{% endif %}

<hr>
League organizer: {{ league.organizer }}
<br>
{% if members %}
	Current members:
	<ul>
		{% for player in members %}
			<li> {{ player }} </li>
		{% endfor %}
	</ul>
{% else %}
	<p>There are no members!</p>
{% endif %}
<a href="{% url 'add_member' league.id %}">add new member</a>

<hr>
{{ comment }}