{% extends "base.html" %}

{% block title %}
	seasontest: {{ league.name }}: {{ season.name }}
{% endblock %}


{% block content %}

<h1> {{ league.name }}: {{ season.name }} </h1> 
<a href="{% url 'index' %}">anrlm</a>
> <a href="{% url 'league' league.id %}"> {{ league.name }} </a>
> {{ season.name }}

<hr>
Runs from {{ season.begin_date }} until {{ season.end_date }}.

<hr>
<table border="1" cellspacing="1" cellpadding="2">
	<tr>
		<th>player</th><th>score</th>
	</tr>	
	{% for p,s in scores %}
		<tr>
  			<td>{{ p }}</td> <td>{{ s }}</td>
  		</tr>
	{% endfor %}
</table>



<hr>
{% if games %}
	<table border="1" cellspacing="1" cellpadding="2">
		<tr>
			<th colspan="7">
				Number of games: {{ num_of_games }}
			</th>
		</tr>
		<tr>
			<th>id</th>
			<th>runner</th>
			<th>runner ID</th>
			<th>corp</th>
			<th>corp ID</th>
			<th>outcome</th>
			<th>date</th>
		</tr>
		{% for g in games %}
			<tr>
				<td>
					<a href="{% url 'edit_game' g.id %}">
						{{ g.id }}
					</a>
				</td>
				<td>{{ g.runner_player }}</td>
				<td>{{ g.runner_ID }}</td>
				<td>{{ g.corp_player }}</td>
				<td>{{ g.corp_ID }}</td>
				<td>{{ g.outcome }}</td>
				<td>{{ g.date }}</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	No games have been played!
{% endif %}


<hr>
{% if foodbonuses %}
	<table border="1" cellspacing="1" cellpadding="2">
		<tr>
			<th colspan="3">
				Number of food bonuses: {{ num_of_fbs }}
			</th>
		</tr>
		<tr>
			<th>
				id
			</th>
			<th>
				date
			</th>
			<th>
				player
			</th>
		</tr>
		
		{% for fb in foodbonuses %}
			<tr>
				<td>
					{{ fb.id }}
				</td>
				<td>
					{{ fb.date }}
				</td>
				<td>
					{{ fb.player }}
				</td>
			</tr>
		{% endfor%}
	</table>
{% else %}
	There are no food bonuses.
{% endif %}

<hr>





{% endblock %}


