{% extends "base.html" %}

{% block title %}
	seasontest: {{ league.name }}: {{ season.name }}
{% endblock %}


{% block content %}

<h1> {{ league.name }}: {{ season.name }} </h1> 
<a href="{% url 'index' %}">anrlm</a>
> <a href="{% url 'league' league.id %}"> {{ league.name }} </a>
> {{ season.name }}

<hr>
Runs from {{ season.begin_date }} until {{ season.end_date }}.

<hr>
<a href="{% url 'add_scoresheet' season.id %}">add a score sheet</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'add_food' season.id %}"> add a food bonus </a>


<!-- trash this -->
<hr>
<table border="1" cellspacing="1" cellpadding="2">
{% for list in trash %}
	<tr>
		{% for entry in list %}
			<td>
				{{ entry }}
			</td>
		{% endfor %}
	</tr>
{% endfor %}
</table>


{% if num_of_games > 0 %}
<hr>
<h1>player score stats</h1>
<table border="1" cellspacing="1" cellpadding="2">
	<tr>
		<th>player</th>
		<th>score</th>
		<th>SoS</th>
	</tr>
	{% for stats in score_stats %}
		<tr>
			{% for stat in stats %}
				<td style="text-align: right;">
					{{ stat }}
					<br>
				</td>
			{% endfor %}
		</tr>
	{% endfor%}
</table>
{% endif %}


{% if num_of_games > 0 %}
<hr>
<h1>basic player stats</h1>
<table border="1" cellspacing="1" cellpadding="2">
	<tr>
		<th colspan="2"></th>
		<th colspan="3">overview</th>
		<th colspan="3">overview %</th>
	</tr>
	<tr>
		<th>player</th>
		<th>games</th>
		<th>wins</th>
		<th>losses</th>
		<th>draws</th>
		<th>win %</th>
		<th>loss %</th>
		<th>draw %</th>
	</tr>
	{% for stats in player_stats %}
		<tr>
			{% for stat in stats %}
				<td style="text-align: right;">
					{{ stat }}
					<br>
				</td>
			{% endfor %}
		</tr>
	{% endfor%}
</table>
{% endif %}



{% if num_of_games > 0 %}
<hr>
<h1>detail player stats</h1>
<table border="1" cellspacing="1" cellpadding="2">
	<tr>
		<th></th>
		<th colspan="6">corp stats</th>
		<th colspan="6">runner stats</th>
	</tr>
	<tr>
		<th></th>
		<th></th>
		<th colspan="2">wins</th>
		<th colspan="2">losses</th>
		<th></th>
		<th></th>
		<th colspan="2">wins</th>
		<th colspan="2">losses</th>
		<th></th>
	</tr>
	<tr>
		<th>player</th>
		<th>games</th>
		<th>agenda</th>
		<th>flatline</th>
		<th>agenda</th>
		<th>mill</th>
		<th>draw</th>
		<th>games</th>
		<th>agenda</th>
		<th>mills</th>
		<th>agenda</th>
		<th>flatlines</th>
		<th>draw</th>
	</tr>
	{% for stats in detail_player_stats %}
		<tr>
			{% for stat in stats %}
				<td style="text-align: right;">
					{{ stat }}
					<br>
				</td>
			{% endfor %}
		</tr>
	{% endfor%}
</table>
{% endif %}




<hr>
<h1>opponent multiplicities</h1>
<table border="1" cellspacing="1" cellpadding="2">
{% for row in pair_matrix %}
	<tr>
	{% for number in row %}
		<td style="text-align: right;">{{ number }}</td>
	{% endfor %}
	</tr>
{% endfor %}
</table>




{% if num_of_games > 0 %}
<hr>
<h1>basic game stats</h1>
Number of games: {{ num_of_games }}
<table border="1" cellspacing="1" cellpadding="2">
	<tr>
		<th colspan="4">corp wins</th>
		<th colspan="4">runners wins</th>
		<th colspan="2"></th>
	</tr>
	<tr>
		<th>agenda</th><th>%</th>
		<th>flatlines</th><th>%</th>
		<th>agenda</th><th>%</th>
		<th>mills</th><th>%</th>
		<th>draws</th><th>%</th>
	</tr>
	<tr>
		{% for stat in game_stats %}
			<td style="text-align: right;">{{ stat }}</td>
		{% endfor %}
	</tr>
</table>


{% endif %}





{% if num_of_games > 0 %}
<hr>
<h1> corp ID stats </h1>
<table border="1" cellspacing="1" cellpadding="2">
	<tr>
		<th></th>
		<th colspan="2">games</th>
		<th colspan="4">wins</th>
		<th colspan="4">losses</th>
		<th colspan="2"></th>
	</tr>
	<tr>
		<th>corp ID</th>
		<th>total</th>
		<th>% of all</th>
		<th>agenda</th>
		<th>%</th>
		<th>flatline</th>
		<th>%</th>
		<th>agenda</th>
		<th>%</th>
		<th>mill</th>
		<th>%</th>
		<th>draws</th>
		<th>%</th>
	</tr>
	{% for stats in corp_stats %}
		<tr>
			{% for stat in stats %}
				<td style="text-align: right;">
					{{ stat }}
					<br>
				</td>
			{% endfor %}
		</tr>
	{% endfor%}
</table>

<hr>
<h1> runner ID stats </h1>
<table border="1" cellspacing="1" cellpadding="2">
	<tr>
		<th></th>
		<th colspan="2">games</th>
		<th colspan="4">wins</th>
		<th colspan="4">losses</th>
		<th colspan="2"></th>
	</tr>
	<tr>
		<th>runner ID</th>
		<th>total</th>
		<th>% of all</th>
		<th>agenda</th>
		<th>%</th>
		<th>mills</th>
		<th>%</th>
		<th>agenda</th>
		<th>%</th>
		<th>flatline</th>
		<th>%</th>
		<th>draws</th>
		<th>%</th>
	</tr>
	{% for stats in runner_stats %}
		<tr>
			{% for stat in stats %}
				<td style="text-align: right;">
					{{ stat }}
					<br>
				</td>
			{% endfor %}
		</tr>
	{% endfor%}
</table>
{% endif %}


<hr>
<h1>food bonuses</h1>
{% if foodbonuses %}
	<table border="1" cellspacing="1" cellpadding="2">
		<tr>
			<th colspan="3">
				Number of food bonuses: {{ num_of_fbs }}
			</th>
		</tr>
		<tr>
			<th>
				id
			</th>
			<th>
				date
			</th>
			<th>
				player
			</th>
		</tr>
		
		{% for fb in foodbonuses %}
			<tr>
				<td>
					{{ fb.id }}
				</td>
				<td>
					{{ fb.date }}
				</td>
				<td>
					{{ fb.player }}
				</td>
			</tr>
		{% endfor%}
	</table>
{% else %}
	There are no food bonuses.
{% endif %}



<hr>
<h1>game record</h1>
{% if num_of_games > 0 %}
	<table border="1" cellspacing="1" cellpadding="2">
		<tr>
			<th colspan="7">
				Number of games: {{ num_of_games }}
			</th>
		</tr>
		<tr>
			<th>id</th>
			<th>runner</th>
			<th>runner ID</th>
			<th>corp</th>
			<th>corp ID</th>
			<th>outcome</th>
			<th>date</th>
		</tr>
		{% for g in games %}
			<tr>
				<td>
					<a href="{% url 'edit_game' g.id %}">
						{{ g.id }}
					</a>
				</td>
				<td>{{ g.runner_player }}</td>
				<td>{{ g.runner_ID }}</td>
				<td>{{ g.corp_player }}</td>
				<td>{{ g.corp_ID }}</td>
				<td>{{ g.outcome }}</td>
				<td>{{ g.date }}</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	No games have been played!
{% endif %}





{% endblock %}


